<form action="/tag/form" method="post" id="formTag">
    <div class="form-group">
        <label for="selectDomains">Select domains:</label>
        <select multiple class="form-control" id="selectDomains" aria-describedby="selectDomainsHelp">
            <option value="speciesplus" selected>Species+</option>
            <option value="countries">Countries</option>
        </select>
        <small id="selectDomainsHelp" class="form-text text-muted">Use Shift-click for multiple selection</small>
    </div>
    <input type="hidden" name="domains" id="hiddenDomains">
    <div class="form-group">
        <label for="checkboxScores">Include relevance scores</label>
        <input type="checkbox" name="scoring" id="checkboxScores" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons" id="btnGroupContentSource">
            <label class="btn btn-primary active w-100" id="lblSourceURL">
                <input type="radio" name="source" id="optionSourceURL" value="url" autocomplete="off" checked> URL
            </label>
            <label class="btn btn-secondary w-100" id="lblSourceText">
                <input type="radio" name="source" id="optionSourceText" value="text" autocomplete="off"> Text
            </label>
            <label class="btn btn-secondary w-100" id="lblSourceFile">
                <input type="radio" name="source" id="optionSourceFile" value="file" autocomplete="off"> File
            </label>
        </div>
    </div>
    <div class="form-group" id="urlInputGroup">
        <input type="url" name="url" class="form-control" id="urlSource" placeholder="http://example.com/doc.pdf" minlength="10" maxlength="200">
    </div>
    <div class="form-group hidden" id="textInputGroup">
        <textarea class="form-control" name="text" id="textSource" rows="5" aria-describedby="textContentHelp" placeholder="Enter text"></textarea>
        <small id="textContentHelp" class="form-text text-muted">3000 characters</small>
    </div>
    <div class="form-group hidden" id="fileInputGroup">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="fileSource">
                <label class="custom-file-label" for="inputGroupFile">Choose file</label>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" id="btnSubmit" type="submit" value="Submit" disabled>
</form>
<hr class="half-rule"/>

{% include "results.html" %}


<div class="modal load-spinner" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>
